services:
  postgres:
    image: postgres:13
    container_name: events_users
    restart: always
    environment:
      POSTGRES_USER: luka
      POSTGRES_PASSWORD: luka
      POSTGRES_DB: events_users
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data


  auth-service:
    build:
      context: ./authentication
      dockerfile: Dockerfile
    image: greo-spilat/auth-service:1.0
    container_name: auth-service
    restart: always
    ports:
      - "8085:8085"
    #    networks:
    #      - app-network
    depends_on:
      - postgres

  user-service:
    build:
      context: ./users
      dockerfile: Dockerfile
    image: greo-spilat/user-service:1.0
    container_name: user-service
    restart: always
    ports:
      - "8084:8084"
    #    networks:
    #      - app-network
    depends_on:
      - postgres


  event-service:
    build:
      context: ./events
      dockerfile: Dockerfile
    image: greo-spilat/event-service:1.0
    container_name: event-service
    restart: always
    ports:
      - "8083:8083"
    #    networks:
    #      - app-network
    depends_on:
      - postgres

  notifications-service:
    build:
      context: ./notifications
      dockerfile: Dockerfile
    image: greo-spilat/notifications-service:1.0
    container_name: notifications-service
    restart: always
    ports:
      - "8401:8401"
    #    networks:
    #      - app-network
    depends_on:
      - postgres

  comments-service:
    build:
      context: ./comments
      dockerfile: Dockerfile
    image: greo-spilat/comments-service:1.0
    container_name: comments-service
    restart: always
    ports:
      - "8402:8402"
    #    networks:
    #      - app-network
    depends_on:
      - postgres


volumes:
  postgres-data: {}

#ker mece localhost:5432 za connection error
#networks:
#  app-network:
#    driver: bridge